In [1]:
import sqlalchemy
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [2]:
database_path="titanic.sqlite"
engine=create_engine(f"sqlite:///{database_path}")

In [3]:
inspector=inspect(engine)
inspector.get_table_names()

['passenger']

In [4]:
columns=inspector.get_columns('passenger')
for c in columns:
    print(c['name'],c['type'])

id INTEGER
name TEXT
pclass TEXT
age FLOAT
sex TEXT
survived INTEGER

In [5]:
engine.execute('SELECT * FROM passenger LIMIT 10').fetchall()

[(1, 'Allen, Miss Elisabeth Walton', '1st', 29.0, 'female', 1),
 (2, 'Allison, Miss Helen Loraine', '1st', 2.0, 'female', 0),
 (3, 'Allison, Mr Hudson Joshua Creighton', '1st', 30.0, 'male', 0),
 (4, 'Allison, Mrs Hudson JC (Bessie Waldo Daniels)', '1st', 25.0, 'female', 0),
 (5, 'Allison, Master Hudson Trevor', '1st', 0.92, 'male', 1),
 (6, 'Anderson, Mr Harry', '1st', 47.0, 'male', 1),
 (7, 'Andrews, Miss Kornelia Theodosia', '1st', 63.0, 'female', 1),
 (8, 'Andrews, Mr Thomas, jr', '1st', 39.0, 'male', 0),
 (9, 'Appleton, Mrs Edward Dale (Charlotte Lamson)', '1st', 58.0, 'female', 1),
 (10, 'Artagaveytia, Mr Ramon', '1st', 71.0, 'male', 0)]

In [6]:
Base=automap_base()
Base.prepare(engine,reflect=True)
Passengers=Base.classes.passenger
Base.classes.keys()

['passenger']

In [8]:
session=Session(engine)
results=session.query(Passengers.name,Passengers.pclass,Passengers.age,Passengers.sex,Passengers.survived).all()

In [10]:
all_passengers=[]
for name,pclass,age,sex,survived in results:
    passenger_dict={}
    passenger_dict["name"]=name
    passenger_dict["pclass"]=pclass
    passenger_dict["age"]=age
    passenger_dict["sex"]=sex
    passenger_dict["survived"]=survived
    all_passengers.append(passenger_dict)
all_passengers

[{'name': 'Allen, Miss Elisabeth Walton',
  'pclass': '1st',
  'age': 29.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Allison, Miss Helen Loraine',
  'pclass': '1st',
  'age': 2.0,
  'sex': 'female',
  'survived': 0},
 {'name': 'Allison, Mr Hudson Joshua Creighton',
  'pclass': '1st',
  'age': 30.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Allison, Mrs Hudson JC (Bessie Waldo Daniels)',
  'pclass': '1st',
  'age': 25.0,
  'sex': 'female',
  'survived': 0},
 {'name': 'Allison, Master Hudson Trevor',
  'pclass': '1st',
  'age': 0.92,
  'sex': 'male',
  'survived': 1},
 {'name': 'Anderson, Mr Harry',
  'pclass': '1st',
  'age': 47.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Andrews, Miss Kornelia Theodosia',
  'pclass': '1st',
  'age': 63.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Andrews, Mr Thomas, jr',
  'pclass': '1st',
  'age': 39.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Appleton, Mrs Edward Dale (Charlotte Lamson)',
  'pclass': '1st',
  'age': 58.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Artagaveytia, Mr Ramon',
  'pclass': '1st',
  'age': 71.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Astor, Colonel John Jacob',
  'pclass': '1st',
  'age': 47.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Astor, Mrs John Jacob (Madeleine Talmadge Force)',
  'pclass': '1st',
  'age': 19.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Aubert, Mrs Leontine Pauline',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Barkworth, Mr Algernon H',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Baumann, Mr John D',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Baxter, Mrs James (Helene DeLaudeniere Chaput)',
  'pclass': '1st',
  'age': 50.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Baxter, Mr Quigg Edmond',
  'pclass': '1st',
  'age': 24.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Beattie, Mr Thomson',
  'pclass': '1st',
  'age': 36.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Beckwith, Mr Richard Leonard',
  'pclass': '1st',
  'age': 37.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Beckwith, Mrs Richard Leonard (Sallie Monypeny)',
  'pclass': '1st',
  'age': 47.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Behr, Mr Karl Howell',
  'pclass': '1st',
  'age': 26.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Birnbaum, Mr Jakob',
  'pclass': '1st',
  'age': 25.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Bishop, Mr Dickinson H',
  'pclass': '1st',
  'age': 25.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Bishop, Mrs Dickinson H (Helen Walton)',
  'pclass': '1st',
  'age': 19.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Bjornstrm-Steffansson, Mr Mauritz Hakan',
  'pclass': '1st',
  'age': 28.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Blackwell, Mr Stephen Weart',
  'pclass': '1st',
  'age': 45.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Blank, Mr Henry',
  'pclass': '1st',
  'age': 39.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Bonnell, Miss Caroline',
  'pclass': '1st',
  'age': 30.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Bonnell, Miss Elizabeth',
  'pclass': '1st',
  'age': 58.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Borebank, Mr John James',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Bowen, Miss Grace Scott',
  'pclass': '1st',
  'age': 45.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Bowerman, Miss Elsie Edith',
  'pclass': '1st',
  'age': 22.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Bradley, Mr George',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Brady, Mr John Bertram',
  'pclass': '1st',
  'age': 41.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Brandeis, Mr Emil',
  'pclass': '1st',
  'age': 48.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Brewe, Dr Arthur Jackson',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Brown, Mrs James Joseph (Margaret Molly" Tobin)"',
  'pclass': '1st',
  'age': 44.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Brown, Mrs John Murray (Caroline Lane Lamson)',
  'pclass': '1st',
  'age': 59.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Bucknell, Mrs William Robert (Emma Eliza Ward)',
  'pclass': '1st',
  'age': 60.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Butt, Major Archibald Willingham',
  'pclass': '1st',
  'age': 45.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Calderhead, Mr Edward P',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Candee, Mrs Edward (Helen Churchill Hungerford)',
  'pclass': '1st',
  'age': 53.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Cardeza, Mrs James Warburton Martinez (Charlotte Wardle Drake)',
  'pclass': '1st',
  'age': 58.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Cardeza, Mr Thomas Drake Martinez',
  'pclass': '1st',
  'age': 36.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Carlsson, Mr Frans Olof',
  'pclass': '1st',
  'age': 33.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Carrau, Mr Francisco M',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Carrau, Mr Jose Pedro',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Carter, Mr William Ernest',
  'pclass': '1st',
  'age': 36.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Carter, Mrs William Ernest (Lucile Polk)',
  'pclass': '1st',
  'age': 36.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Carter, Miss Lucile Polk',
  'pclass': '1st',
  'age': 14.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Carter, Master William T II',
  'pclass': '1st',
  'age': 11.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Case, Mr Howard Brown',
  'pclass': '1st',
  'age': 49.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Cassebeer, Mrs Henry Arthur jr (Genevieve Fosdick)',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Cavendish, Mr Tyrell William',
  'pclass': '1st',
  'age': 36.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Cavendish, Mrs Tyrell William Julia Florence Siegel',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Chaffee, Mr Herbert Fuller',
  'pclass': '1st',
  'age': 46.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Chaffee, Mrs Herbert Fuller (Carrie Constance Toogood)',
  'pclass': '1st',
  'age': 47.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Chambers, Mr Norman Campbell',
  'pclass': '1st',
  'age': 27.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Chambers, Mrs Norman Campbell (Bertha Griggs)',
  'pclass': '1st',
  'age': 31.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Cherry, Miss Gladys',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Chevre, Mr Paul',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Chibnall (Bowerman), Mrs Edith Martha',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Chisholm, Mr Roderick Robert',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Clark, Mr Walter Miller',
  'pclass': '1st',
  'age': 27.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Clark, Mrs Walter Miller (Virginia McDowell)',
  'pclass': '1st',
  'age': 26.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Clifford, Mr George Quincy',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Colley, Mr Edward Pomeroy',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Compton, Mrs Alexander Taylor (Mary Eliza Ingersoll)',
  'pclass': '1st',
  'age': 64.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Compton, Mr Alexander Taylor, Jr',
  'pclass': '1st',
  'age': 37.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Compton, Miss Sara Rebecca',
  'pclass': '1st',
  'age': 39.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Cornell, Mrs Robert Clifford (Malvina Helen Lamson)',
  'pclass': '1st',
  'age': 55.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Crafton, Mr John Bertram',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Crosby, Captain Edward Gifford',
  'pclass': '1st',
  'age': 70.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Crosby, Mrs Edward Gifford (Catherine Elizabeth Halstead)',
  'pclass': '1st',
  'age': 69.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Crosby, Miss Harriet R',
  'pclass': '1st',
  'age': 36.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Cumings, Mr John Bradley',
  'pclass': '1st',
  'age': 39.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Cumings, Mrs John Bradley (Florence Briggs Thayer)',
  'pclass': '1st',
  'age': 38.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Daly, Mr Peter Denis ',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Daniel, Mr Robert Williams',
  'pclass': '1st',
  'age': 27.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Davidson, Mr Thornton',
  'pclass': '1st',
  'age': 31.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Davidson, Mrs Thornton (Orian Hays)',
  'pclass': '1st',
  'age': 27.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'de Villiers, Madame Berthe',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Dick, Mr Albert Adrian',
  'pclass': '1st',
  'age': 31.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Dick, Mrs Albert Adrian Vera Gillespie',
  'pclass': '1st',
  'age': 17.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Dodge, Dr Washington',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Dodge, Mrs Washington (Ruth Vidaver)',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Dodge, Master Washington',
  'pclass': '1st',
  'age': 4.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Douglas, Mrs Frederick Charles (Suzette Baxter)',
  'pclass': '1st',
  'age': 27.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Douglas, Mr Walter Donald',
  'pclass': '1st',
  'age': 50.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Douglas, Mrs Walter Donald (Mahala Dutton)',
  'pclass': '1st',
  'age': 48.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Duff Gordon, Sir Cosmo Edmund',
  'pclass': '1st',
  'age': 49.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Duff Gordon, Lady (Lucille Wallace Sutherland)',
  'pclass': '1st',
  'age': 48.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Dulles, Mr William Crothers',
  'pclass': '1st',
  'age': 39.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Earnshaw, Mrs Boulton (Olive Potter)',
  'pclass': '1st',
  'age': 23.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Eustis, Miss Elizabeth Mussey',
  'pclass': '1st',
  'age': 53.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Evans, Miss Edith Corse',
  'pclass': '1st',
  'age': 36.0,
  'sex': 'female',
  'survived': 0},
 {'name': 'Flegenheim, Mrs Alfred (Antoinette)',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Flynn, Mr John Irving',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Foreman, Mr Benjamin Laventall',
  'pclass': '1st',
  'age': 30.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Fortune, Miss Alice Elizabeth',
  'pclass': '1st',
  'age': 24.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Fortune, Mr Charles Alexander',
  'pclass': '1st',
  'age': 19.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Fortune, Miss Ethel Flora',
  'pclass': '1st',
  'age': 28.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Fortune, Miss Mabel',
  'pclass': '1st',
  'age': 23.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Fortune, Mr Mark',
  'pclass': '1st',
  'age': 64.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Fortune, Mrs Mark (Mary McDougald)',
  'pclass': '1st',
  'age': 60.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Franklin, Mr Thomas Parham',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Frauenthal, Dr Henry William',
  'pclass': '1st',
  'age': 49.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Frauenthal, Mrs Henry William (Clara Heinsheimer)',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Frauenthal, Mr Isaac Gerald',
  'pclass': '1st',
  'age': 44.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Frolicher, Miss Marguerite',
  'pclass': '1st',
  'age': 22.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Frolicher-Stehli, Mr Maxmillian',
  'pclass': '1st',
  'age': 60.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Frolicher-Stehli, Mrs Maxmillian (Margaretha Emerentia Stehli)',
  'pclass': '1st',
  'age': 48.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Futrelle, Mr Jacques',
  'pclass': '1st',
  'age': 37.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Futrelle, Mrs Jacques (May Peel)',
  'pclass': '1st',
  'age': 35.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Gee, Mr Arthur H',
  'pclass': '1st',
  'age': 47.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Gibson, Miss Dorothy',
  'pclass': '1st',
  'age': 22.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Gibson, Mrs Leonard (Pauline C Boeson)',
  'pclass': '1st',
  'age': 45.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Goldenberg, Mr Samuel L',
  'pclass': '1st',
  'age': 49.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Goldenberg, Mrs Samuel L (Edwiga Grabowsko)',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Goldschmidt, Mr George B',
  'pclass': '1st',
  'age': 71.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Gracie, Colonel Archibald IV',
  'pclass': '1st',
  'age': 54.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Graham, Mr George Edward',
  'pclass': '1st',
  'age': 38.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Graham, Miss Margaret Edith',
  'pclass': '1st',
  'age': 19.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Graham, Mrs William Thompson (Edith Junkins)',
  'pclass': '1st',
  'age': 58.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Greenfield, Mrs Leo David (Blanche Strouse)',
  'pclass': '1st',
  'age': 45.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Greenfield, Mr William Bertram',
  'pclass': '1st',
  'age': 23.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Guggenheim, Mr Benjamin',
  'pclass': '1st',
  'age': 46.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Harder, Mr George Achilles',
  'pclass': '1st',
  'age': 25.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Harder, Mrs George Achilles (Dorothy Annan)',
  'pclass': '1st',
  'age': 21.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Harper, Mr Henry Sleeper',
  'pclass': '1st',
  'age': 48.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Harper, Mrs Henry Sleeper (Myna Haxtun)',
  'pclass': '1st',
  'age': 49.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Harris, Mr Henry Birkhardt',
  'pclass': '1st',
  'age': 45.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Harris, Mrs Henry Birkhardt (Irene Wallach)',
  'pclass': '1st',
  'age': 36.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Hawksford, Mr Walter James',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Hays, Mr Charles Melville',
  'pclass': '1st',
  'age': 55.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Hays, Mrs Charles Melville (Clara Jennings Gregg)',
  'pclass': '1st',
  'age': 52.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Hays, Miss Margaret Bechstein',
  'pclass': '1st',
  'age': 24.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Head, Mr Christopher',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Hilliard, Mr Herbert Henry',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Hipkins, Mr William Edward',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Hippach, Miss Jean Gertrude',
  'pclass': '1st',
  'age': 16.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Hippach, Mrs Louis Albert (Ida Sophia Fischer)',
  'pclass': '1st',
  'age': 44.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Hogeboom, Mrs John C (Anna Andrews)',
  'pclass': '1st',
  'age': 51.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Holverson, Mr Alexander Oskar',
  'pclass': '1st',
  'age': 42.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Holverson, Mrs Alexander Oskar (Mary Aline Towner)',
  'pclass': '1st',
  'age': 35.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Homer, Mr Harry',
  'pclass': '1st',
  'age': 35.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Hoyt, Mr Frederick Maxfield',
  'pclass': '1st',
  'age': 38.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Hoyt, Mrs Frederick Maxfield (Jane Anne Forby)',
  'pclass': '1st',
  'age': 35.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Hoyt, Mr William F',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Isham, Miss Anne Elizabeth',
  'pclass': '1st',
  'age': 50.0,
  'sex': 'female',
  'survived': 0},
 {'name': 'Ismay, Mr Joseph Bruce',
  'pclass': '1st',
  'age': 49.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Jones, Mr Charles Cresson',
  'pclass': '1st',
  'age': 46.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Julian, Mr Henry Forbes',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Kent, Mr Edward Austin',
  'pclass': '1st',
  'age': 58.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Kenyon, Mr Frederick R',
  'pclass': '1st',
  'age': 41.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Kenyon, Mrs Frederick R (Marion)',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Kimball, Mr Edwin Nelson Jr',
  'pclass': '1st',
  'age': 42.0,
  'sex': 'male',
  'survived': 1},
 {'name': 'Kimball, Mrs Edwin Nelson Jr (Gertrude Parsons)',
  'pclass': '1st',
  'age': 40.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Klaber, Mr Herman',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Leader, Dr Alice Farnham',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'Lewy, Mr Ervin G',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Lindeberg-Lind, Mr Erik Gustaf',
  'pclass': '1st',
  'age': 42.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Lindstrom, Mrs Carl Johan (Sigrid Posse)',
  'pclass': '1st',
  'age': 55.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Lines, Mrs Ernest H (Elizabeth Lindsey James)',
  'pclass': '1st',
  'age': 50.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Lines, Miss Mary Conover',
  'pclass': '1st',
  'age': 16.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Lingrey, Mr Edward',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Long, Mr Milton Clyde',
  'pclass': '1st',
  'age': 29.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Longley, Miss Gretchen Fiske',
  'pclass': '1st',
  'age': 21.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Loring, Mr Joseph Holland',
  'pclass': '1st',
  'age': 30.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Madill, Miss Georgette Alexandra',
  'pclass': '1st',
  'age': 15.0,
  'sex': 'female',
  'survived': 1},
 {'name': 'Maguire, Mr John Edward',
  'pclass': '1st',
  'age': 30.0,
  'sex': 'male',
  'survived': 0},
 {'name': 'Marechal, Mr Pierre',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 1},
 {'name': 'Marvin, Mr Daniel Warner',
  'pclass': '1st',
  'age': None,
  'sex': 'male',
  'survived': 0},
 {'name': 'Marvin, Mrs Daniel Warner (Mary Graham Carmichael Farquarson)',
  'pclass': '1st',
  'age': None,
  'sex': 'female',
  'survived': 1},
 {'name': 'McCaffry, Mr Thomas Francis',
  'pclass': '1st',
  'age': 46.0,
  'sex': 'male',
  'survived': 0},

In [11]:
passengers_df=pd.DataFrame(all_passengers)
passengers_df

,name,pclass,age,sex,survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1
5,"Anderson, Mr Harry",1st,47.00,male,1
6,"Andrews, Miss Kornelia Theodosia",1st,63.00,female,1
7,"Andrews, Mr Thomas, jr",1st,39.00,male,0
8,"Appleton, Mrs Edward Dale (Charlotte Lamson)",1st,58.00,female,1
9,"Artagaveytia, Mr Ramon",1st,71.00,male,0
10,"Astor, Colonel John Jacob",1st,47.00,male,0
11,"Astor, Mrs John Jacob (Madeleine Talmadge Force)",1st,19.00,female,1
12,"Aubert, Mrs Leontine Pauline",1st,NaN,female,1
13,"Barkworth, Mr Algernon H",1st,NaN,male,1
14,"Baumann, Mr John D",1st,NaN,male,0
15,"Baxter, Mrs James (Helene DeLaudeniere Chaput)",1st,50.00,female,1
16,"Baxter, Mr Quigg Edmond",1st,24.00,male,0
17,"Beattie, Mr Thomson",1st,36.00,male,0
18,"Beckwith, Mr Richard Leonard",1st,37.00,male,1
19,"Beckwith, Mrs Richard Leonard (Sallie Monypeny)",1st,47.00,female,1
20,"Behr, Mr Karl Howell",1st,26.00,male,1
21,"Birnbaum, Mr Jakob",1st,25.00,male,0
22,"Bishop, Mr Dickinson H",1st,25.00,male,1
23,"Bishop, Mrs Dickinson H (Helen Walton)",1st,19.00,female,1
24,"Bjornstrm-Steffansson, Mr Mauritz Hakan",1st,28.00,male,1
25,"Blackwell, Mr Stephen Weart",1st,45.00,male,0
26,"Blank, Mr Henry",1st,39.00,male,1
27,"Bonnell, Miss Caroline",1st,30.00,female,1
28,"Bonnell, Miss Elizabeth",1st,58.00,female,1
29,"Borebank, Mr John James",1st,NaN,male,0
30,"Bowen, Miss Grace Scott",1st,45.00,female,1
31,"Bowerman, Miss Elsie Edith",1st,22.00,female,1
32,"Bradley, Mr George",1st,NaN,male,1
33,"Brady, Mr John Bertram",1st,41.00,male,0
34,"Brandeis, Mr Emil",1st,48.00,male,0
35,"Brewe, Dr Arthur Jackson",1st,NaN,male,0
36,"Brown, Mrs James Joseph (Margaret Molly"" Tobin)""",1st,44.00,female,1
37,"Brown, Mrs John Murray (Caroline Lane Lamson)",1st,59.00,female,1
38,"Bucknell, Mrs William Robert (Emma Eliza Ward)",1st,60.00,female,1
39,"Butt, Major Archibald Willingham",1st,45.00,male,0
40,"Calderhead, Mr Edward P",1st,NaN,male,1
41,"Candee, Mrs Edward (Helen Churchill Hungerford)",1st,53.00,female,1
42,"Cardeza, Mrs James Warburton Martinez (Charlot...",1st,58.00,female,1
43,"Cardeza, Mr Thomas Drake Martinez",1st,36.00,male,1
44,"Carlsson, Mr Frans Olof",1st,33.00,male,0
45,"Carrau, Mr Francisco M",1st,NaN,male,0
46,"Carrau, Mr Jose Pedro",1st,NaN,male,0
47,"Carter, Mr William Ernest",1st,36.00,male,1
48,"Carter, Mrs William Ernest (Lucile Polk)",1st,36.00,female,1
49,"Carter, Miss Lucile Polk",1st,14.00,female,1
50,"Carter, Master William T II",1st,11.00,male,1
51,"Case, Mr Howard Brown",1st,49.00,male,0
52,"Cassebeer, Mrs Henry Arthur jr (Genevieve Fosd...",1st,NaN,female,1
53,"Cavendish, Mr Tyrell William",1st,36.00,male,0
54,"Cavendish, Mrs Tyrell William Julia Florence S...",1st,NaN,female,1
55,"Chaffee, Mr Herbert Fuller",1st,46.00,male,0
56,"Chaffee, Mrs Herbert Fuller (Carrie Constance ...",1st,47.00,female,1
57,"Chambers, Mr Norman Campbell",1st,27.00,male,1
58,"Chambers, Mrs Norman Campbell (Bertha Griggs)",1st,31.00,female,1
59,"Cherry, Miss Gladys",1st,NaN,female,1
60,"Chevre, Mr Paul",1st,NaN,male,1
61,"Chibnall (Bowerman), Mrs Edith Martha",1st,NaN,female,1
62,"Chisholm, Mr Roderick Robert",1st,NaN,male,0
63,"Clark, Mr Walter Miller",1st,27.00,male,0
64,"Clark, Mrs Walter Miller (Virginia McDowell)",1st,26.00,female,1
65,"Clifford, Mr George Quincy",1st,NaN,male,0
66,"Colley, Mr Edward Pomeroy",1st,NaN,male,0
67,"Compton, Mrs Alexander Taylor (Mary Eliza Inge...",1st,64.00,female,1
68,"Compton, Mr Alexander Taylor, Jr",1st,37.00,male,0
69,"Compton, Miss Sara Rebecca",1st,39.00,female,1
70,"Cornell, Mrs Robert Clifford (Malvina Helen La...",1st,55.00,female,1
71,"Crafton, Mr John Bertram",1st,NaN,male,0
72,"Crosby, Captain Edward Gifford",1st,70.00,male,0
73,"Crosby, Mrs Edward Gifford (Catherine Elizabet...",1st,69.00,female,1
74,"Crosby, Miss Harriet R",1st,36.00,female,1
75,"Cumings, Mr John Bradley",1st,39.00,male,0
76,"Cumings, Mrs John Bradley (Florence Briggs Tha...",1st,38.00,female,1
77,"Daly, Mr Peter Denis",1st,NaN,male,1
78,"Daniel, Mr Robert Williams",1st,27.00,male,1
79,"Davidson, Mr Thornton",1st,31.00,male,0
80,"Davidson, Mrs Thornton (Orian Hays)",1st,27.00,female,1
81,"de Villiers, Madame Berthe",1st,NaN,female,1
82,"Dick, Mr Albert Adrian",1st,31.00,male,1
83,"Dick, Mrs Albert Adrian Vera Gillespie",1st,17.00,female,1
84,"Dodge, Dr Washington",1st,NaN,male,1
85,"Dodge, Mrs Washington (Ruth Vidaver)",1st,NaN,female,1
86,"Dodge, Master Washington",1st,4.00,male,1
87,"Douglas, Mrs Frederick Charles (Suzette Baxter)",1st,27.00,female,1
88,"Douglas, Mr Walter Donald",1st,50.00,male,0
89,"Douglas, Mrs Walter Donald (Mahala Dutton)",1st,48.00,female,1
90,"Duff Gordon, Sir Cosmo Edmund",1st,49.00,male,1
91,"Duff Gordon, Lady (Lucille Wallace Sutherland)",1st,48.00,female,1
92,"Dulles, Mr William Crothers",1st,39.00,male,0
93,"Earnshaw, Mrs Boulton (Olive Potter)",1st,23.00,female,1
94,"Eustis, Miss Elizabeth Mussey",1st,53.00,female,1
95,"Evans, Miss Edith Corse",1st,36.00,female,0
96,"Flegenheim, Mrs Alfred (Antoinette)",1st,NaN,female,1
97,"Flynn, Mr John Irving",1st,NaN,male,1
98,"Foreman, Mr Benjamin Laventall",1st,30.00,male,0
99,"Fortune, Miss Alice Elizabeth",1st,24.00,female,1
100,"Fortune, Mr Charles Alexander",1st,19.00,male,0
101,"Fortune, Miss Ethel Flora",1st,28.00,female,1
102,"Fortune, Miss Mabel",1st,23.00,female,1
103,"Fortune, Mr Mark",1st,64.00,male,0
104,"Fortune, Mrs Mark (Mary McDougald)",1st,60.00,female,1
105,"Franklin, Mr Thomas Parham",1st,NaN,male,0
106,"Frauenthal, Dr Henry William",1st,49.00,male,1
107,"Frauenthal, Mrs Henry William (Clara Heinsheimer)",1st,NaN,female,1
108,"Frauenthal, Mr Isaac Gerald",1st,44.00,male,1
109,"Frolicher, Miss Marguerite",1st,22.00,female,1
110,"Frolicher-Stehli, Mr Maxmillian",1st,60.00,male,1
111,"Frolicher-Stehli, Mrs Maxmillian (Margaretha E...",1st,48.00,female,1
112,"Futrelle, Mr Jacques",1st,37.00,male,0
113,"Futrelle, Mrs Jacques (May Peel)",1st,35.00,female,1
114,"Gee, Mr Arthur H",1st,47.00,male,0
115,"Gibson, Miss Dorothy",1st,22.00,female,1
116,"Gibson, Mrs Leonard (Pauline C Boeson)",1st,45.00,female,1
117,"Goldenberg, Mr Samuel L",1st,49.00,male,1
118,"Goldenberg, Mrs Samuel L (Edwiga Grabowsko)",1st,NaN,female,1
119,"Goldschmidt, Mr George B",1st,71.00,male,0
120,"Gracie, Colonel Archibald IV",1st,54.00,male,1
121,"Graham, Mr George Edward",1st,38.00,male,0
122,"Graham, Miss Margaret Edith",1st,19.00,female,1
123,"Graham, Mrs William Thompson (Edith Junkins)",1st,58.00,female,1
124,"Greenfield, Mrs Leo David (Blanche Strouse)",1st,45.00,female,1
125,"Greenfield, Mr William Bertram",1st,23.00,male,1
126,"Guggenheim, Mr Benjamin",1st,46.00,male,0
127,"Harder, Mr George Achilles",1st,25.00,male,1
128,"Harder, Mrs George Achilles (Dorothy Annan)",1st,21.00,female,1
129,"Harper, Mr Henry Sleeper",1st,48.00,male,1
130,"Harper, Mrs Henry Sleeper (Myna Haxtun)",1st,49.00,female,1
131,"Harris, Mr Henry Birkhardt",1st,45.00,male,0
132,"Harris, Mrs Henry Birkhardt (Irene Wallach)",1st,36.00,female,1
133,"Hawksford, Mr Walter James",1st,NaN,male,1
134,"Hays, Mr Charles Melville",1st,55.00,male,0
135,"Hays, Mrs Charles Melville (Clara Jennings Gregg)",1st,52.00,female,1
136,"Hays, Miss Margaret Bechstein",1st,24.00,female,1
137,"Head, Mr Christopher",1st,NaN,male,0
138,"Hilliard, Mr Herbert Henry",1st,NaN,male,0
139,"Hipkins, Mr William Edward",1st,NaN,male,0
140,"Hippach, Miss Jean Gertrude",1st,16.00,female,1
141,"Hippach, Mrs Louis Albert (Ida Sophia Fischer)",1st,44.00,female,1
142,"Hogeboom, Mrs John C (Anna Andrews)",1st,51.00,female,1
143,"Holverson, Mr Alexander Oskar",1st,42.00,male,0
144,"Holverson, Mrs Alexander Oskar (Mary Aline Tow...",1st,35.00,female,1
145,"Homer, Mr Harry",1st,35.00,male,1
146,"Hoyt, Mr Frederick Maxfield",1st,38.00,male,1
147,"Hoyt, Mrs Frederick Maxfield (Jane Anne Forby)",1st,35.00,female,1
148,"Hoyt, Mr William F",1st,NaN,male,0
149,"Isham, Miss Anne Elizabeth",1st,50.00,female,0
150,"Ismay, Mr Joseph Bruce",1st,49.00,male,1
151,"Jones, Mr Charles Cresson",1st,46.00,male,0
152,"Julian, Mr Henry Forbes",1st,NaN,male,0
153,"Kent, Mr Edward Austin",1st,58.00,male,0
154,"Kenyon, Mr Frederick R",1st,41.00,male,0
155,"Kenyon, Mrs Frederick R (Marion)",1st,NaN,female,1
156,"Kimball, Mr Edwin Nelson Jr",1st,42.00,male,1
157,"Kimball, Mrs Edwin Nelson Jr (Gertrude Parsons)",1st,40.00,female,1
158,"Klaber, Mr Herman",1st,NaN,male,0
159,"Leader, Dr Alice Farnham",1st,NaN,female,1
160,"Lewy, Mr Ervin G",1st,NaN,male,0
161,"Lindeberg-Lind, Mr Erik Gustaf",1st,42.00,male,0
162,"Lindstrom, Mrs Carl Johan (Sigrid Posse)",1st,55.00,female,1
163,"Lines, Mrs Ernest H (Elizabeth Lindsey James)",1st,50.00,female,1
164,"Lines, Miss Mary Conover",1st,16.00,female,1
165,"Lingrey, Mr Edward",1st,NaN,male,0
166,"Long, Mr Milton Clyde",1st,29.00,male,0
167,"Longley, Miss Gretchen Fiske",1st,21.00,female,1
168,"Loring, Mr Joseph Holland",1st,30.00,male,0
169,"Madill, Miss Georgette Alexandra",1st,15.00,female,1
170,"Maguire, Mr John Edward",1st,30.00,male,0
171,"Marechal, Mr Pierre",1st,NaN,male,1
172,"Marvin, Mr Daniel Warner",1st,NaN,male,0
173,"Marvin, Mrs Daniel Warner (Mary Graham Carmich...",1st,NaN,female,1
174,"McCaffry, Mr Thomas Francis",1st,46.00,male,0
175,"McCarthy, Mr Timothy J",1st,54.00,male,0
176,"McGough, Mr James R",1st,36.00,male,1
177,"Meyer, Mr Edgar Joseph",1st,28.00,male,0
178,"Meyer, Mrs Edgar Joseph (Leila Saks)",1st,NaN,female,1
179,"Millet, Mr Francis Davis",1st,65.00,male,0
180,"Minahan, Miss Daisy E",1st,33.00,female,1
181,"Minahan, Dr William Edward",1st,44.00,male,0
182,"Minahan, Mrs William Edward (Lillian E Thorpe)",1st,37.00,female,1
183,"Mock, Mr Philip E",1st,NaN,male,1
184,"Molson, Mr Harry Markland",1st,55.00,male,0
185,"Moore, Mr Clarence Bloomfield",1st,47.00,male,0
186,"Natsch, Mr Charles H",1st,36.00,male,0
187,"Newell, Mr Arthur Webster",1st,58.00,male,0
188,"Newell, Miss Madeleine",1st,31.00,female,1
189,"Newell, Miss Marjorie",1st,23.00,female,1
190,"Newsom, Miss Helen Monypeny",1st,19.00,female,1
191,"Nicholson, Mr Arthur Ernest",1st,64.00,male,0
192,"Omont, Mr A Fernand",1st,NaN,male,1
193,"Ostby, Mr Engelhart Cornelius",1st,64.00,male,0
194,"Ostby, Miss Helen Raghnild",1st,22.00,female,1
195,"Ovies y Rodriguez, Mr Servando",1st,28.00,male,0
196,"Parr, Mr William Henry Marsh",1st,NaN,male,0
197,"Partner, Mr Austin",1st,NaN,male,0
198,"Payne, Mr Vivian Ponsonby",1st,22.00,male,0
199,"Pears, Mr Thomas",1st,NaN,male,0
200,"Pears, Mrs Thomas (Edith)",1st,NaN,female,1
201,"Penasco, Mr Victor de Satode",1st,18.00,male,0
202,"Penasco, Mrs Victor de Satode (Josefa de Soto)",1st,17.00,female,1
203,"Peuchen, Major Arthur Godfrey",1st,52.00,male,1
204,"Porter, Mr Walter Chamberlain",1st,46.00,male,0
205,"Potter, Mrs Thomas, Jr (Lily Alexenia Wilson)",1st,56.00,female,1
206,"Reuchlin, Jonkheer John George",1st,NaN,male,0
207,"Rheims, Mr George Lucien",1st,NaN,male,1
208,"Robert, Mrs Edward Scott (Elisabeth Walton McM...",1st,43.00,female,1
209,"Roebling, Mr Washington Augustus 2nd",1st,31.00,male,0
210,"Romaine, Mr Charles Hallace",1st,NaN,male,1
211,"Rood, Mr Hugh R",1st,NaN,male,0
212,"Rosenbaum (Russell), Miss Edith Louise",1st,33.00,female,1
213,"Ross, Mr John Hugo",1st,NaN,male,0
214,"Rothes, the Countess of (Noel Lucy Martha Dyer...",1st,27.00,female,1
215,"Rothschild, Mr Martin",1st,55.00,male,0
216,"Rothschild, Mrs Martin (Elizabeth L Barrett)",1st,54.00,female,1
217,"Rowe, Mr Alfred G",1st,NaN,male,0
218,"Ryerson, Mr Arthur Larned",1st,61.00,male,0
219,"Ryerson, Mrs Arthur Larned (Emily Maria Borie)",1st,48.00,female,1
220,"Ryerson, Miss Emily Borie",1st,18.00,female,1
221,"Ryerson, Master John Borie",1st,13.00,male,1
222,"Ryerson, Miss Susan (Suzette) Parker",1st,21.00,female,1
223,"Saalfeld, Mr Adolphe",1st,NaN,male,1
224,"Salomon, Mr Abraham L",1st,NaN,male,1
225,"Schabert, Mrs Paul (Emma Mock)",1st,NaN,female,1
226,"Seward, Mr Frederic Kimber",1st,34.00,male,1
227,"Shutes, Miss Elizabeth W",1st,40.00,female,1
228,"Silverthorne, Mr Spencer Victor",1st,36.00,male,1
229,"Silvey, Mr William Baird",1st,50.00,male,0
230,"Silvey, Mrs William Baird (Alice Munger)",1st,39.00,female,1
231,"Simonius-Blumer, Col Alfons",1st,56.00,male,1
232,"Sloper, Mr William Thompson",1st,28.00,male,1
233,"Smart, Mr John Montgomery",1st,56.00,male,0
234,"Smith, Mr James Clinch",1st,56.00,male,0
235,"Smith, Mr Lucien Philip",1st,24.00,male,0
236,"Smith, Mrs Lucien Philip (Mary Eloise Hughes",1st,18.00,female,1
237,"Smith, Mr Richard William",1st,NaN,male,0
238,"Snyder, Mr John Pillsbury",1st,24.00,male,1
239,"Snyder, Mrs John Pillsbury (Nelle Stevenson)",1st,23.00,female,1
240,"Spedden, Mr Frederick Oakley",1st,45.00,male,1
241,"Spedden, Mrs Frederick Oakley (Margaretta Corn...",1st,40.00,female,1
242,"Spedden, Master Robert Douglas",1st,6.00,male,1
243,"Spencer, Mr William Augustus",1st,57.00,male,0
244,"Spencer, Mrs William Augustus (Marie Eugenie)",1st,NaN,female,1
245,"Staehlin, Dr Max",1st,32.00,male,1
246,"Stead, Mr William Thomas",1st,62.00,male,0
247,"Stengel, Mr Charles Emil Henry",1st,54.00,male,1
248,"Stengel, Mrs Charles Emil Henry (Annie May Mor...",1st,43.00,female,1
249,"Stephenson, Mrs Walter Bertram (Martha Eustis)",1st,52.00,female,1
250,"Stewart, Mr Albert A",1st,NaN,male,0
251,"Stone, Mrs George Nelson (Martha E)",1st,62.00,female,1
252,"Straus, Mr Isidor",1st,67.00,male,0
253,"Straus, Mrs Isidor (Ida Blun)",1st,63.00,female,0
254,"Sutton, Mr Frederick",1st,61.00,male,0
255,"Swift, Mrs Frederick Joel (Margaret Welles Bar...",1st,46.00,female,1
256,"Taussig, Mr Emil",1st,52.00,male,0
257,"Taussig, Mrs Emil (Tillie Mandelbaum)",1st,39.00,female,1
258,"Taussig, Miss Ruth",1st,18.00,female,1
259,"Taylor, Mr Elmer Zebley",1st,48.00,male,1
260,"Taylor, Mrs Elmer Zebley (Juliet Cummins Wright)",1st,NaN,female,1
261,"Thayer, Mr John Borland",1st,49.00,male,0
262,"Thayer, Mrs John Borland (Marian Longstreth Mo...",1st,39.00,female,1
263,"Thayer, Mr John Borland, jr",1st,17.00,male,1
264,"Thorne, Mr George (alias of: Mr George Rosensh...",1st,46.00,male,0
265,"Thorne, Mrs Gertrude Maybelle",1st,NaN,female,1
266,"Tucker, Mr Gilbert Milligan, jr",1st,31.00,male,1
267,"Uruchurtu, Mr Manuel E",1st,NaN,male,0
268,"Van Derhoef, Mr Wyckoff",1st,61.00,male,0
269,"Walker, Mr William Anderson",1st,47.00,male,0
270,"Warren, Mr Frank Manley",1st,64.00,male,0
271,"Warren, Mrs Frank Manley (Anna S Atkinson)",1st,60.00,female,1
272,"Weir, Col John",1st,60.00,male,0
273,"White, Mrs J Stuart (Ella Holmes)",1st,55.00,female,1
274,"White, Mr Percival Wayland",1st,54.00,male,0
275,"White, Mr Richard Frasar",1st,21.00,male,0
276,"Wick, Mr George Dennick",1st,57.00,male,0
277,"Wick, Mrs George Dennick (Martha Hitchcock)",1st,45.00,female,1
278,"Wick, Miss Mary Natalie",1st,31.00,female,1
279,"Widener, Mr George Dunton",1st,50.00,male,0
280,"Widener, Mrs George Dunton (Eleanor Elkins)",1st,50.00,female,1
281,"Widener, Mr Harry Elkins",1st,27.00,male,0
282,"Willard, Miss Constance",1st,20.00,female,1
283,"Williams, Mr Charles Duane",1st,51.00,male,0
284,"Williams, Mr Fletcher Lambert",1st,NaN,male,0
285,"Williams, Mr Richard Norris II",1st,21.00,male,1
286,"Woolner, Mr Hugh",1st,NaN,male,1
287,"Wright, Mr George",1st,NaN,male,0
288,"Young, Miss Marie Grice",1st,36.00,female,1
289,"Barber, Ms",1st,NaN,female,1
290,"Bazzani, Ms Albina",1st,NaN,female,1
291,"Bidois, Miss Rosalie",1st,NaN,female,1
292,"Bird, Ms Ellen",1st,NaN,female,1
293,"Bissetti, Ms Amelia",1st,NaN,female,1
294,"Burns, Ms Elizabeth Margaret",1st,NaN,female,1
295,"Chaudanson, Ms \tVictorine",1st,NaN,female,1
296,"Cleaver, Ms Alice",1st,NaN,female,1
297,"Daniels, Ms Sarah",1st,NaN,female,1
298,"Endres, Miss Caroline Louise",1st,NaN,female,1
299,"Farthing, Mr John",1st,NaN,male,0
300,"Fleming, Ms Margaret",1st,NaN,female,0
301,"Francatelli, Ms Laura Mabel",1st,NaN,female,1
302,"Fry, Mr Richard",1st,NaN,male,0
303,"Geiger, Miss Emily",1st,NaN,female,1
304,"Giglio, Mr Victor",1st,NaN,male,0
305,"Harrington, Mr Charles",1st,NaN,male,0
306,"Harrison, Mr William \tHenry",1st,40.00,male,0
307,"Hassah, Mr Hamad",1st,NaN,male,0
308,"Icabad (Icabod), Ms",1st,NaN,female,1
309,"Keeping, Mr Edwin",1st,32.00,male,0
310,"Kenchen, Ms Amelia",1st,NaN,female,1
311,"LeRoy, Miss Berthe",1st,NaN,female,1
312,"Lesneur, Mr Gustave",1st,NaN,male,0
313,"Maloney, Ms",1st,NaN,female,1
314,"Oliva, Mlle",1st,NaN,female,0
315,"Pericault, Ms",1st,NaN,female,1
316,"Ringhini, Mr Sante",1st,33.00,male,0
317,"Robbins, Mr Victor",1st,NaN,male,0
318,"Segesser, Mlle Emma",1st,NaN,female,1
319,"Seredeca, Ms",1st,NaN,female,0
320,"Ward, Ms Anna",1st,NaN,female,0
321,"Wilson, Ms Helen",1st,NaN,female,1
322,"Abelson, Mr Samuel",2nd,30.00,male,0
323,"Abelson, Mrs Samuel (Anna)",2nd,28.00,female,1
324,"Andrew, Mr Edgar Samuel",2nd,18.00,male,0
325,"Andrew, Mr Frank",2nd,NaN,male,0
326,"Angle, Mr William A",2nd,34.00,male,0
327,"Angle, Mrs William A (Florence)",2nd,32.00,female,1
328,"Ashby, Mr John",2nd,57.00,male,0
329,"Bailey, Mr Percy Andrew",2nd,18.00,male,0
330,"Baimbrigge, Mr Charles R",2nd,23.00,male,0
331,"Balls, Mrs Ada E Hall",2nd,36.00,female,1
332,"Banfield, Mr Frederick J",2nd,28.00,male,0
333,"Bateman, Rev Robert James",2nd,51.00,male,0
334,"Beane, Mr Edward",2nd,32.00,male,1
335,"Beane, Mrs Edward (Ethel Clarke)",2nd,19.00,female,1
336,"Beauchamp, Mr Henry James",2nd,28.00,male,0
337,"Becker, Mrs Allen Oliver (Nellie E Baumgardner)",2nd,36.00,female,1
338,"Becker, Miss Marion Louise",2nd,4.00,female,1
339,"Becker, Master Richard F",2nd,1.00,male,1
340,"Becker, Miss Ruth Elizabeth",2nd,12.00,female,1
341,"Beesley, Mr Lawrence",2nd,34.00,male,1
342,"Bentham, Miss Lilian W",2nd,19.00,female,1
343,"Berriman, Mr William S",2nd,23.00,male,0
344,"Botsford, Mr William Hull",2nd,26.00,male,0
345,"Bowenur, Mr Solomon",2nd,NaN,male,0
346,"Bracken, Mr James H",2nd,27.00,male,0
347,"Brown, Miss Edith E",2nd,15.00,female,1
348,"Brown, Mr Thomas William Solomon",2nd,45.00,male,0
349,"Brown, Mrs Thomas William Solomon (Elizabeth C)",2nd,40.00,female,1
350,"Bryhl, Miss Dagmar",2nd,20.00,female,1
351,"Bryhl, Mr Kurt Arnold Gottfrid",2nd,25.00,male,0
352,"Buss, Miss Kate",2nd,36.00,female,1
353,"Butler, Mr Reginald Fenton",2nd,25.00,male,0
354,"Byles, Rev Thomas Roussel D",2nd,NaN,male,0
355,"Bystrom, Mrs Carolina",2nd,42.00,female,1
356,"Caldwell, Mr Albert Francis",2nd,26.00,male,1
357,"Caldwell, Mrs Albert Francis (Sylvia Mae Harba...",2nd,26.00,female,1
358,"Caldwell, Master Alden Gates",2nd,0.83,male,1
359,"Cameron, Miss Clear",2nd,31.00,female,1
360,"Campbell, Mr William",2nd,NaN,male,0
361,"Carbines, Mr William",2nd,19.00,male,0
362,"Carter, Rev Ernest Courtenay",2nd,54.00,male,0
363,"Carter, Mrs Ernest Courtenay (Lillian Hughes)",2nd,44.00,female,0
364,"Chapman, Mr Charles Henry",2nd,52.00,male,0
365,"Chapman, Mr John Henry",2nd,30.00,male,0
366,"Chapman, Mrs John Henry (Elizabeth Lawry)",2nd,30.00,female,0
367,"Christy, Mrs Alice Frances",2nd,NaN,female,1
368,"Christy, Miss Julie",2nd,NaN,female,1
369,"Clarke, Mr Charles V",2nd,29.00,male,0
370,"Clarke, Mrs Charles V (Ada Maria)",2nd,NaN,female,1
371,"Coleridge, Mr Reginald Charles",2nd,29.00,male,0
372,"Collander, Mr Erik",2nd,27.00,male,0
373,"Collett, Mr Sidney C Stuart",2nd,24.00,male,1
374,"Collyer, Mr Harvey",2nd,35.00,male,0
375,"Collyer, Mrs Harvey (Charlotte Tate)",2nd,31.00,female,1
376,"Collyer, Miss Marjorie",2nd,8.00,female,1
377,"Cook, Mrs Selena Rogers",2nd,22.00,female,0
378,"Corbett, Mrs Walter H (Irene Colvin)",2nd,30.00,female,0
379,"Corey, Mrs Percy C (Mary Phyllis Elizabeth Mil...",2nd,NaN,female,0
380,"Cotterill, Mr Harry",2nd,20.00,male,0
381,"Cunningham, Mr Alfred Fleming",2nd,NaN,male,0
382,"Davies, Mr Charles Henry",2nd,21.00,male,0
383,"Davis, Mrs Agnes",2nd,49.00,female,1

In [66]:
TotalPassengers=session.query(Passengers.sex,func.count(Passengers.sex)).\
                group_by(Passengers.sex).all()
TotalPassengers

[('female', 462), ('male', 851)]

In [70]:
Totalresult=session.query(Passengers.sex,Passengers.survived,func.count(Passengers.sex)).\
                group_by(Passengers.sex,Passengers.survived).all()
allresult_dict=[]
for sex,survived,count in Totalresult:
    stats_dict={}
    stats_dict['sex']=sex
    if (survived==0):
        stats_dict['survived']="no"
    else:
        stats_dict['survived']="yes"
    stats_dict['count']=count
    allresult_dict.append(stats_dict)
    
allresult_dict

[{'sex': 'female', 'survived': 'no', 'count': 154},
 {'sex': 'female', 'survived': 'yes', 'count': 308},
 {'sex': 'male', 'survived': 'no', 'count': 709},
 {'sex': 'male', 'survived': 'yes', 'count': 142}]

In [57]:
Firstclass=session.query(Passengers.pclass,Passengers.sex,Passengers.survived,func.count(Passengers.survived)).\
        group_by(Passengers.sex,Passengers.survived).\
        filter(Passengers.pclass=='1st').all()
Firstclass

[('1st', 'female', 0, 9),
 ('1st', 'female', 1, 134),
 ('1st', 'male', 0, 120),
 ('1st', 'male', 1, 59)]

In [58]:
Secondclass=session.query(Passengers.pclass,Passengers.sex,Passengers.survived,func.count(Passengers.survived)).\
        group_by(Passengers.sex,Passengers.survived).\
        filter(Passengers.pclass=='2nd').all()
Secondclass

[('2nd', 'female', 0, 13),
 ('2nd', 'female', 1, 94),
 ('2nd', 'male', 0, 148),
 ('2nd', 'male', 1, 25)]

In [60]:
Thirdclass=session.query(Passengers.pclass,Passengers.sex,Passengers.survived,func.count(Passengers.survived)).\
        group_by(Passengers.sex,Passengers.survived).\
        filter(Passengers.pclass=='3rd').all()
Thirdclass

[('3rd', 'female', 0, 132),
 ('3rd', 'female', 1, 80),
 ('3rd', 'male', 0, 441),
 ('3rd', 'male', 1, 58)]